* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: auto;
  width: 50%;
  background-color: rgba(10, 10, 10, 0.932);
  color: white;
}

h1 {
  font-size: 3vh;
  font-family: "Times New Roman", Times, serif;
}

#speedtext {
  font-size: 25px;
  color: rgb(100, 100, 100);
  /*background-color: blueviolet;*/
  border: 2px;
  border-left: 0px;
  border-right: 0px;
  border-color: rgb(255, 255, 255);
  border-style: solid;

  padding: 3px 0px;
  text-align: left;
  line-height: 150%;
  word-spacing: 2px;
  letter-spacing: 2px;
}

.correct {
  color: rgb(255, 255, 255);
}

.wrong {
  color: red;
}

.extraWrong {
  color: yellow;
}

#current {
  text-decoration: underline yellow;
}


#inp {
  transform: scale(0);
}
